/* Global Styles */
body {
margin: 0 auto;
padding: 20px;
font-family: Arial, sans-serif;
background-color: burlywood;
color: #654321;
}

/*Navigation Bar Styles*/
.nav-links li {
    list-style: none;
    margin-right: 20px;
    font-size: 1.2em; 
}

.nav-links li a {
    text-decoration: none;
    color: #654321;
    font-size: 1.5em;
    background-color: #F5DEB3;
    border: 2px solid #654321;
    padding: 10px;  
    border-radius: 10px;
    transition: all 0.3ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
   
}

.nav-links li a:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #fab459;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

nav {
    position: sticky;
    top: 0;
    background-color: burlywood;
    padding: 10px 0;
    z-index: 1000;
}

/*Horizontal Rule Styles*/
hr {
    border-bottom: 5px solid #654321;
    margin-top: 30px;
}

/*Main Content Styles*/
.judul {
text-align: center;
margin: 100px auto;
border: 4px solid #654321;
padding: 5px;
background-color: #F5DEB3;
display: block;
border-radius: 20px;
width: 80%;
height: 200px;
display: block;
grid-area: judul;

}

/*Image Styles*/
.gambar {
display: block;
margin: 100px auto;
width: 90%;
height: 100%;
grid-area: gambar;
}
/*Bahan dan Proses Masak Styles*/
.bumbu {
border: 5px solid #654321;
border-radius: 20px;
margin: 0;
padding: 30px;
background-color: #F5DEB3;
width: 60%;
height: auto;
display: block;
margin: 0 auto;
transition: all 0.3s ease-in-out;
}
/*Proses Masak Styles*/
.proses-masak {
border: 5px solid #654321;
border-radius: 20px;
margin: 0 auto;
padding: 30px;
background-color: #F5DEB3;
width: 60%;
height: auto;
grid-area: container;
transition: all 0.3s ease-in-out;
}

/*Grid Layout Styles*/
.big-container {
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: 
        "gambar judul"
        "gambar container"
        "gambar container";
}
/*Container Styles*/
.container {
    grid-area: container;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: -50px;
    flex-direction: column;
}
/*List and Input Styles*/
li {
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 1.5em;
}

input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: burlywood;
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #888;
    transition: all 0.3s ease;
}

input[type="checkbox"]:hover {
    transform: scale(1.8);
    background-color: burlywood;

}
/*Hover Effects*/
.bumbu:hover,
.proses-masak:hover,
.judul:hover {
    border: 2px solid #a0522d;
    box-shadow: 0 8px 15px rgba(101, 67, 33, 0.4);
    box-shadow: 0.3s ease-in-out;
    transform: translateY(-5px);
}
/*List Item Styles*/
.bahan-list li, .langkah-list li {
    margin-left: 20px;
}

p {
    font-size: 1.5em;
}

